@model Microsoft.AspNetCore.Identity.IdentityRole
@{
    ViewData["Title"] = "Create";
}

<h1>Create New Role</h1>

<form asp-action="Create">
	<div class="form-group">
		<label for="Name">Role Name</label>
		<input asp-for="@Model.Name" class="form-control"/>
	</div>
	<input type="submit" value="Save"/>
</form>

